<header>
    <div class="sticky">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1 class="show-for-medium-up"><a href="/"><img src="/img/header-logo2.png" alt="Logo" />THE UNRESTRAINED USE OF EXCESSIVE HATE</a></h1>                   
                    <h1 class="show-for-small-only"><a href="/"><img src="/img/header-logo2.png" alt="Logo" /><span class="has-tip tip-bottom" data-tooltip aria-haspopup="true" title="THE UNRESTRAINED USE OF EXCESSIVE HATE">TUUOEH</span></a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="has-form">
                        <a href="/forum/new" class="button success">New Post</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</header>
