<div id="introduction" class="row">
	<div class="small-12 columns">
		<img id="logo" class="right" src="/img/logo.png" alt="For Trolls. By Trolls" />
		<p><strong>THE UNRESTRAINED USE OF EXCESSIVE HATE</strong> or <strong>TUUOEH</strong> for short is a place where a troll can be a troll. A hater can be a hater. A cynic can be a cynic. A pessimist can be a pessimist. You get the idea.</p>
		<p>For extra fun, this website is completely anonymous and providing user-details are optional. You can easily impersonate anyone on this site.</p>
		<p>Let the shit show begin!</p>
	</div>
</div>